body {
    background-color: yellow;
}

h1 {
    color: purple;
}

.likes {
    color: blue;
}

#clown {
    height: auto;
    width: 300px;
    border: 10px solid red;
    margin-left: 39%;
    padding: 20px;
    border-radius: 10px;
   
}
#nugs {
    height: auto;
    width: 25%;
    right: 0;
}

#main-paragraph {
    max-width: 400px;
}

.centered {
    margin: auto;
    width: 50%;
}

.text-align-center {
    text-align: center;
}

#image-container {
    display: flex;
    align-items: flex-start;
}